.text-component {
    width: 46px;
    height: 16px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* Secondary/Black-Tint-3 */

    color: #A7B1BC;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}